<app-script-tag-load></app-script-tag-load>
<app-har-file-upload (tableFilterData)="dataTableFilterData($event)" (resource)="resourseFormData($event)"></app-har-file-upload>
<br/>
<div class="representationButtonContainer" [style.display]="showButton ? 'inline' : 'none'">
    <button class="showTable active" (click)="enableDataTable()">DataTable Representation</button>
    <button class="showChart" (click)="enablePieChart()">Pie Chart Representation</button>
</div>
<br/>
<app-datatable-repr [myFilterData]="myFilterDataForTable" [resourceForm]="resourceFormType" *ngIf="isDataTableRepresentation"></app-datatable-repr> 
<app-mychart [myFilterData]="myFilterDataForTable" *ngIf="!isDataTableRepresentation"></app-mychart>